.cardContainer{
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    justify-content: space-evenly;
    border: none;
    background-color:rgba(29, 39, 50, 0.842);
}
.cardContainer:hover{
    transform: scale(1.1);
    background-color: rgb(131, 131, 22);
    transition: transform .5s;
}
.bandera{
    width: 170px;
    height: 110px;
    box-shadow: 7px 7px  5px rgb(39, 39, 39);
}
.navLinkCard{
    text-decoration: none;
}
.textCard{
    line-height: 90%;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(39, 39, 39);
}